:root{
  --cent:30px;
  --nwidth: calc(100% /3)
}


header{
  display: flex;
  background-color: black;
  width: 100%;

  height: 5em;
  max-height: calc(5em*3);
  min-width: var(--nwidth);
}

p{
  color: white;
  text-align: left;
  font-size: 1.5em;
  font-style: italic;

  margin-left: 80px;
}

.logo{
  padding-top: 25px;
  width: var(--nwidth);
  min-width: var(--nwidth);
  min-width: 300px;

  justify-content: center;
}

.main_nav{
  width: var(--nwidth);
  min-width: var(--nwidth);
  text-align: center;
}

.nav_list{
  padding-top: var(--cent);
}

li{
  display: inline;
  margin: 0 5px;

  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}

.contact{
  padding-top: 17px;
  width: var(--nwidth);
  min-width: 300px;
  text-align: right;
  min-width: var(--nwidth);
}

.contact_button{
  margin-right: 80px;
  color: white;
  background-color: transparent;
  height: 45px;
  width: 100px;


  border-radius: 10px;
  border: solid 3px white;

  justify-content: right;
}

body{
  display: flex;
  background-color: white;
}